@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:400,500,700,900&display=swap');
*{
	margin: 0;
	padding: 0;
	outline: 0;
}
a,a:hover{
	text-decoration: none;
}
ul,ol{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif; 
}
p{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
img{
	vertical-align: middle;
}
.clear{
	clear: both;
}
body{
	font-family: 'Roboto', sans-serif;
	font-family: 'Lato', sans-serif;
}
/* common css ends */
/* banner css start */
#banner{
	background: url('../images/banner.jpg');
	/* background-repeat: resize; */
	background-position: top;
	background-size: cover;
}
#banner .banner_overlay{
	padding: 200px 0;
	background-color: rgba(0, 0, 0, .3);
}
/* banner css ends */
/* demo css start */
#demo{
	background: #dbdbdb;
}
#demo .main_box{
	height: auto;
	width: 100%;
	box-shadow: 10px 10px 40px #000;
	margin-bottom: 30px;
}
#demo .demo_box{
	margin: auto;
	height: 300px;
	transition: all linear 5s;
	background: #ffffff;
}
#demo .demo_box .img_box{
	position: relative;
	height: 300px;
	width: 100%;
}
#demo .demo_box .img_box img{
	transition: all linear 5s;
	width: 100%;
}
#demo .demo_box .img_box .overlay{
	position: absolute;
	left: -100%;
	top: 0;
	background: rgba(0, 0, 0, .6);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
}
#demo .demo_box .img_box .overlay .content p{
	color: #fff;
	font-size: 20px;
}
#demo a.effect:hover .demo_box .img_box img{
	margin-top: -334%;
	transition: 5s;
}
#demo a.effect:hover .demo_box .img_box .overlay{
	left: 0;
}
#demo .demo_underheading{
	border-top: 2px solid #1abc9c;
	padding: 10px 0;
	background: #ffffff;
}
#demo .demo_underheading h1{
	color: #34495e;
	font-size: 22px;
	text-align: center;
}
/* demo css ends */
/* note css start */
#note{
	padding: 80px 0;
}
/* note css end */
/* footer css start */
#footer{
	padding: 40px 0;
	background: #2c3e50;
}
#footer .content p{
	color: #bdc3c7;
	font-size: 17px;
}